.product-item {
  border-bottom: 1px solid $gray-light;

  &:last-child {
    border: 0;
  }
}

.product-link {
  padding: 20px;
  display: flex;
  text-decoration: none;
  color: $black;
}

.product-item-figure {
  width: 150px;
  height: 150px;
  margin-right: 15px;
}

.product-item-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
