.product-list {
  width: 100%;
  background-color: $white;
  padding: 0;
}

.product {
  padding: 10px;
  display: flex;
  border-bottom: 1px solid $gray-light;

  &:last-child {
    border: 0;
  }
}

.product-figure {
  min-width: 150px;
  min-height: 150px;
  border: 1px solid black;
  margin-right: 15px;
}

.product-title {
  font-size: 20px;
  font-weight: 300;
}

.product-price {
  font-size: 25px;
  font-weight: 500;
  color: $gray-darker;
  margin: 0;
}
